---
---
@charset "UTF-8";

@import
  "ui-style-guide/main";
  
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h1{ font-family: 'raleway', sans-serif;
  font-size: 'light';

}

h2{ font-family: 'Amatic SC', sans-serif;

  }

h3{ font-family: 'Amatic SC', sans-serif;

  }

h4{ font-family: 'Amatic SC', sans-serif;

  }

p{
  font-family: 'raleway', sans-serif;
}
